/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Barlow&display=swap");
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: 100%;
  height: 100%;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333;
  /* old IE */
  background-color: #333;
  /* Modern Browsers */
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, nav, #intro-4 {
  font-family: "Barlow Condensed", sans-serif;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  color: #242942;
}
@media only screen and (max-width: 575px) {
  h1 {
    font-size: 44px;
  }
}

header > nav {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 36px;
}
header > nav a {
  text-decoration: none;
  color: #242942;
}
header > nav .grey {
  color: #a0a1ac;
}

button.cta {
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
@media only screen and (max-width: 575px) {
  button.cta {
    word-spacing: 3px;
    font-size: 16px;
  }
}

#intro-1 {
  font-family: "Barlow Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
}
#intro-1 > label {
  color: white;
  font-weight: 700;
}
#intro-1 > span {
  letter-spacing: 3px;
  color: #a0a1ac;
}
@media only screen and (max-width: 575px) {
  #intro-1 > span {
    letter-spacing: 5px;
  }
}

#intro-3 {
  font-size: 20px;
  line-height: 27px;
  color: #5b5f71;
}
@media only screen and (max-width: 575px) {
  #intro-3 {
    font-size: 19px;
  }
}

#intro-4 {
  text-transform: uppercase;
  font-size: 24px;
}
#intro-4 > span {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: inherit;
  font-size: 18px;
  color: #a0a1ac;
  letter-spacing: 3px;
}
@media only screen and (max-width: 575px) {
  #intro-4 > span {
    font-size: 16px;
    letter-spacing: 2px;
  }
}

header {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-top: 62px;
  height: 37px;
  padding-left: 164px;
  justify-content: space-between;
  width: 1110px;
}
header > img {
  width: 37px;
}
header > nav.desktop * {
  margin-left: 40px;
}
header > nav.desktop a:hover {
  text-decoration: underline;
  cursor: pointer;
}
header > nav.mobile-list {
  position: absolute;
  background-color: white;
  width: 100%;
  text-align: center;
  z-index: 1;
  top: 62px;
  padding: 7px 0;
  box-shadow: 0 8px 12px 0 rgba(160, 161, 172, 0.2);
}
header > nav.mobile-list a {
  display: block;
  padding: 7px 0;
}
header > nav.mobile-list hr {
  width: 85%;
  background-color: #a0a1ac;
}
header > nav.mobile.close, header .close {
  display: none;
}
@media only screen and (min-width: 768px) {
  header > nav.desktop {
    display: block;
  }
}
@media only screen and (min-width: 576px) {
  header > nav.mobile {
    display: none;
  }
}
@media only screen and (max-width: 575px) {
  header {
    width: 83%;
    padding: 0;
    margin-top: 38px;
    height: 24px;
  }
  header > img {
    width: 24px;
  }
  header > nav.desktop {
    display: none;
  }
  header > nav.mobile {
    display: block;
  }
}

body {
  width: 1440px;
  height: 100vh;
  margin: auto;
}
@media only screen and (max-width: 575px) {
  body {
    width: 83%;
    overflow-x: visible;
  }
}

.container {
  display: flex;
  flex-direction: row;
}

#intro-component {
  height: 100vh;
}
#intro-component section {
  overflow-x: hidden;
}
#intro-component section#hero-text {
  margin-top: 256px;
  padding-left: 164px;
}
#intro-component section#hero-text > div {
  width: 572px;
}
#intro-component section#hero-image {
  width: 47%;
}
#intro-component section#hero-image > div {
  position: absolute;
  width: 100%;
  background-color: #eef3f6;
  height: 50vh;
  border-bottom-left-radius: 60px 60px;
  z-index: -1;
}
#intro-component section#hero-image > img {
  width: 65%;
  position: absolute;
  top: 220px;
}
@media only screen and (max-width: 575px) {
  #intro-component {
    flex-direction: column-reverse;
    height: auto;
  }
  #intro-component section#hero-text {
    margin-top: 10%;
    padding: 0;
  }
  #intro-component section#hero-text > div {
    width: 100%;
  }
  #intro-component section#hero-image {
    width: auto;
    overflow-x: inherit;
    height: 58vh;
  }
  #intro-component section#hero-image > div {
    width: 60%;
    position: relative;
    left: 50%;
    height: 100%;
  }
  #intro-component section#hero-image > img {
    width: 132%;
    top: 125px;
    left: 3%;
  }
}

button.cta {
  background-color: #ff5c5c;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 16px 30px;
  width: 185px;
}
button:hover {
  background-color: #FF8584;
  cursor: pointer;
}
@media only screen and (max-width: 575px) {
  button.cta {
    padding: 15px 5%;
    width: 47%;
  }
}

#intro-1 {
  margin-bottom: 29px;
  padding-top: 6px;
}
#intro-1 > label {
  background-color: #242942;
  display: inline;
  padding: 4px 12px 6px 12px;
  border-radius: 15px;
}
#intro-1 > span {
  margin-left: 11px;
}
@media only screen and (max-width: 575px) {
  #intro-1 {
    margin-bottom: 24px;
  }
  #intro-1 > label {
    padding: 4px 2% 6px 2%;
  }
  #intro-1 > span {
    margin-left: 3%;
  }
}

#intro-2 {
  margin-bottom: 29px;
}
@media only screen and (max-width: 575px) {
  #intro-2 {
    margin-bottom: 27px;
  }
}

#intro-4 {
  margin-top: 66px;
}
#intro-4 > span {
  margin-left: 20px;
}
@media only screen and (max-width: 575px) {
  #intro-4 {
    margin-top: 29px;
  }
  #intro-4 .hide {
    display: none;
  }
  #intro-4 > span {
    margin-left: 15px;
  }
}

@media only screen and (max-width: 575px) {
  footer {
    margin-top: 30px;
  }
}

/*# sourceMappingURL=style.css.map */
