header {
  @include flex-container-left;
  position: absolute;
  margin-top: 62px;
  height: 37px;
  padding-left: 164px;
  justify-content: space-between;
  width: 1110px;
  > img {
    width: 37px;
  }
  > nav.desktop {
    * {
      margin-left: 40px;
    }
    a:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  > nav.mobile-list {
    position: absolute;
    background-color: white;
    width: 100%;
    text-align: center;
    z-index: 1;
    top: 62px;
    padding: 7px 0;
    box-shadow: 0 8px 12px 0 $drop-shadow;
    a {
      display: block;
      padding: 7px 0;
    }
    hr {
      width: 85%;
      background-color: $grey-blue;
    }
  }
  @media #{$md} {
    > nav.desktop {
      display: block;
    }
  }
  @media #{$sm} {
    > nav.mobile {
      display: none;
    }
  }
  @media #{$xs} {
    width: 83%;
    padding: 0;
    margin-top: 38px;
    height: 24px;
    > img {
      width: 24px;
    }
    > nav.desktop {
      display: none;
    }
    > nav.mobile {
      display: block;
    }
  }
}
