body {
  width: 1440px;
  height: 100vh;
  margin: auto;
  @media #{$xs} {
    width: 100vw;
  }
}

.container {
  @include flex-container-left;
}

#intro-component {
  height: 100vh;
  section {
    //width: 50%;
    overflow-x: hidden;
  }
  section#hero-text {
    // width: 43%;
    margin-top: 256px;
    padding-left: 164px;
    > div {
      width: 572px;
    }
  }
  section#hero-image {
    width: 47%;
  }
  @media #{$xs} {
    flex-direction: column-reverse;
    section#hero-text {
      margin-top: 0;
      padding: 0;
      > div {
        width: 100%;
      }
    }
  }
}

button {
  &.cta {
    background-color: $primary;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 16px 30px;
    width: 185px;
  }
  &:hover {
    background-color: #FF8584;
    cursor: pointer;
  }
}

#intro-1 {
  margin-bottom: 29px;
  padding-top: 6px;
  > label {
    background-color: $v-dark-blue;
    display: inline;
    padding: 4px 12px 6px 12px;
    border-radius: 15px;
  }
  > span {
    margin-left: 14px;
  }
}

#intro-2 {
  margin-bottom: 29px;
}

#intro-3 {

}

#intro-4 {
  margin-top: 66px;
  > span {
    margin-left: 20px;
  }
}

#hero-image {
  > div {
    position: absolute;
    width: 100%;
    background-color: $light-grey-blue;
    height: 50vh;
    border-bottom-left-radius: 60px 60px;
    z-index: -1;
  }
  > img {
    width: 65%;
    position: absolute;
    top: 220px;
  }
}
