$animation-d: heroAnim 1s ease-in 1s 1 normal;
$animation-m: heroAnimMobile 1s ease-in 1s 1 normal;

@keyframes heroAnim {
  0% {top: 190px; opacity: 0;}
  100% {top: 220px; opacity: 1;}
}

@keyframes heroAnimMobile {
  0% {top: 100px; opacity: 0;}
  100% {top: 125px; opacity: 1;}
}

body {
  width: 1440px;
  height: 100vh;
  margin: auto;
  @media #{$xs} {
    width: 83%;
    overflow-x: visible;
  }
}

.container {
  @include flex-container-left;
}

#intro-component {
  height: 100vh;
  section {
    overflow-x: hidden;
  }
  section#hero-text {
    margin-top: 256px;
    padding-left: 164px;
    > div {
      width: 572px;
    }
  }
  // place code here
  section#hero-image {
    width: 47%;
    > div {
      position: absolute;
      width: 100%;
      background-color: $light-grey-blue;
      height: 50vh;
      border-bottom-left-radius: 60px 60px;
      z-index: -1;
    }
    > img {
      width: 65%;
      position: absolute;
      top: 220px;
      @include anim($animation-d);
      animation-fill-mode: forwards;
    }
  }
  @media #{$xs} {
    flex-direction: column-reverse;
    height: auto;
    section#hero-text {
      margin-top: 10%;
      padding: 0;
      > div {
        width: 100%;
      }
    }
    section#hero-image {
      width: auto;
      overflow-x: inherit;
      height: 58vh;
      > div {
        width: 60%;
        position: relative;
        left: 50%;
        height: 100%;
      }
      > img {
        width: 132%;
        top: 125px;
        left: 3%;
        @include anim($animation-m);
        animation-fill-mode: forwards;
      }
    }
  }
}

button {
  &.cta {
    background-color: $primary;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 16px 30px;
    width: 185px;
  }
  &:hover {
    background-color: #FF8584;
    cursor: pointer;
  }
  @media #{$xs} {
    &.cta {
      padding: 15px 5%;
      width: 47%;
    }
  }
}

#intro-1 {
  margin-bottom: 29px;
  padding-top: 6px;
  > label {
    background-color: $v-dark-blue;
    display: inline;
    padding: 4px 12px 6px 12px;
    border-radius: 15px;
  }
  > span {
    margin-left: 11px;
  }
  @media #{$xs} {
    margin-bottom: 24px;
    > label {
      padding: 4px 2% 6px 2%;
    }
    > span {
      margin-left: 3%;
    }
  }
}

#intro-2 {
  margin-bottom: 29px;
  @media #{$xs} {
    margin-bottom: 27px;
  }
}

#intro-3 {

}

#intro-4 {
  margin-top: 66px;
  > span {
    margin-left: 20px;
  }
  @media #{$xs} {
    margin-top: 29px;
    .hide {
      display: none;
    }
    > span {
      margin-left: 15px;
    }
  }
}

footer {
  @media #{$xs} {
    margin-top: 30px;
  }
}
