body {
  width: 1440px;
  height: 100vh;
  margin: auto;
}

.container {
  @include flex-container-left;
}

#intro-component {
  height: 100vh;
  section {
    width: 50%;
    overflow-x: hidden;
  }
  #hero-text {
    margin-top: 256px;
    padding-left: 164px;
    > div {
      width: 572px;
    }
  }
}

button {
  &.cta {
    background-color: $primary;
    border: none;
    color: white;
    border-radius: 5px;
    padding: 16px 30px;
    width: 185px;
  }
}

#intro-1 {
  margin-bottom: 29px;
  padding-top: 6px;
  > label {
    background-color: $v-dark-blue;
    display: inline;
    padding: 4px 12px 6px 12px;
    border-radius: 15px;
  }
  > span {
    margin-left: 14px;
  }
}

#intro-2 {
  margin-bottom: 29px;
}

#intro-3 {

}

#intro-4 {
  margin-top: 66px;
  > span {
    margin-left: 20px;
  }
}
