@import url('https://fonts.googleapis.com/css?family=Barlow&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed&display=swap');

body {
  font-family: $font-barlow;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6, nav, #intro-4 {
  font-family: $font-barlow-con;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  text-transform: uppercase;
  color: $v-dark-blue;
  @media #{$xs} {
    font-size: 44px;
  }
}

header {
  > nav {
    a {
      text-decoration: none;
      color: $v-dark-blue;
    }
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 36px;
    .grey {
      color: $grey-blue;
    }
  }
}

button {
  &.cta {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    font-family: $font-barlow-con;
  }
  @media #{$xs} {
    &.cta {
      word-spacing: 3px;
      font-size: 16px;
    }
  }
}

#intro-1 {
  font-family: $font-barlow-con;
  text-transform: uppercase;
  font-size: 18px;
  > label {
    color: white;
    font-weight: 700;
  }
  > span {
    letter-spacing: 3px;
    color: $grey-blue;
  }
  @media #{$xs} {
    > span {
      letter-spacing: 5px;
    }
  }
}

#intro-3 {
  font-size: 20px;
  line-height: 27px;
  color: $dark-grey-blue;
  @media #{$xs} {
    font-size: 19px;
  }
}

#intro-4 {
  text-transform: uppercase;
  font-size: 24px;
  > span {
    font-family: $font-barlow-con;
    font-weight: inherit;
    font-size: 18px;
    color: $grey-blue;
    letter-spacing: 3px;
  }
  @media #{$xs} {
    > span {
      font-size: 16px;
      letter-spacing: 2px;
    }
  }
}
