@mixin flex-container-left {
  display: flex;
  flex-direction: row;
}

@mixin hr-reset {
  border: none;
  height: 1px;
  /* Set the hr color */
  color: #333; /* old IE */
  background-color: #333; /* Modern Browsers */
}

@mixin anim($a) {
  -webkit-animation: $a;
  -moz-animation: $a;
  -ms-animation: $a;
  -o-animation: $a;
  animation: $a;
}
