// Fonts
$font-barlow: 'Barlow', sans-serif;
$font-barlow-con: 'Barlow Condensed', sans-serif;

// Colours
$primary: hsl(0, 100%, 68%);
$v-dark-blue: hsl(230, 29%, 20%);
$dark-grey-blue: hsl(230, 11%, 40%);
$grey-blue: hsl(231, 7%, 65%);
$light-grey-blue: hsl(207, 33%, 95%);

// Responsiveness
