// Fonts
$font-barlow: 'Barlow', sans-serif;
$font-barlow-con: 'Barlow Condensed', sans-serif;

// Colours
$primary: hsl(0, 100%, 68%);
$v-dark-blue: hsl(230, 29%, 20%);
$dark-grey-blue: hsl(230, 11%, 40%);
$grey-blue: hsl(231, 7%, 65%);
$drop-shadow: rgba(160, 161, 172, 0.2);
$light-grey-blue: hsl(207, 33%, 95%);

// Responsiveness
$xl: "only screen and (min-width: 1200px)";
$lg: "only screen and (min-width: 992px)";
$md: "only screen and (min-width: 768px)";
$sm: "only screen and (min-width: 576px)";
$xs: "only screen and (max-width: 575px)";
